
 <link rel="stylesheet" href="./index.css">

 <div class="main">
  <div class="Welcome"> <h1>Create an Account</h1></div>
 
<div class="registerForm">
<form method="post" action="/register">
  <div>
      <div>
          <input id="usernameInput"  type="text" name="username" placeholder="Username"/>
          </div>
          <div>
          <input id="passwordInput"  type="password" name="password" placeholder="Password"/>
        </div>
  <div>
   
    <input id="confirmPasswordInput" type="password" name="confirmPassword" placeholder="Confirm Password"/>
  </div>

  <button id="signIn" type="submit">Sign Up</button>

 <p class="leave"><a href="/">Login</a></p>
</form>

</div>



</div>